# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# Virtual environment
venv/
env/
ENV/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
